__pycache__/
*.pyc
*.egg-info/
.venv/
build/
infra/lambda.zip
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.tfstate.lock.info
infra/.terraform.lock.hcl
infra/terraform.tfvars
.env
*.env
.envrc
